<div class="col w-75 mx-auto">
  <% posts.each do |post| %>
    <div>
      <%= link_to(post.user) do %>
        <%= image_tag post.user.get_profile_image, size: '50x50' %>
        <%= post.user.name %>
      <% end %>
    </div>
    <div>
      <%= image_tag post.image, size: '200x200' %>
      <span>
        <%= post.title, post, class: "post_#{post.id}" %>
        <%= post.introduction %>
      </span>
    </div>
</div>