<div class="container mt-4 pb-5">
  <h2 class="mb-5 mt-5">お気に入りの曲は</h2>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="row mb-6">
      <label class="col-lg-2">アカウント名</label>
      <div class="col-lg-4">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "musichat", size: 25 %>
      </div>
    </div>

    <div class="row mb-6">
      <label class="col-lg-2">メールアドレス</label>
      <div class="col-lg-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "×××@example.com", size: 25 %>
      </div>
    </div>

     <div class="row mb-6">
      <label class="col-lg-2">電話番号</label>
      <div class="col-lg-4">
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "00000000000", size: 25 %>
      </div>
    </div>

    <div class="row mb-6">
      <label class="col-lg-2">パスワード
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </label>
      <div class="col-lg-4">
        <%= f.password_field :password, autocomplete: "new-password", size: 25 %>
      </div>
    </div>

    <div class="row mb-6">
      <label class="col-lg-2">パスワード確認</label>
      <div class="col-lg-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 25 %>
      </div>
    </div>

    <div class="row mb-6">
      <div class="col-lg-4">
        <%= f.submit "アカウント作成", class: "btn btn-primary w-75" %>
      </div>
    </div>
  <% end %>
  <div class="row mb-6">
    <div class="col-lg-4">
      <p><strong>アカウントをお持ちの場合</strong></p>
    </div>
  </div>
  <div class="row mb-6">
    <div class="col-lg-4">
      <%= link_to 'ログイン', user_session_path, class: 'btn btn-light sign_in' %>
    </div>
  </div>
</div>