<div class="row pt-2 pb-2" style="background: #efffe0;">
  <div class="col-12">
    <%= link_to user_path(@post.user) do %>
      <%= image_tag @post.user.get_profile_image, size: '80x80', class: 'profile-image' %>
      <%= @post.user.name %>
      <% end %>
  </div>
</div>
<div class="row pb-2" style="background: #efffe0; border-bottom: solid 1px gray">
  <div class="col-3">
    <%= image_tag @post.get_post_image, size: '200x200' %>
  </div>
  <div class="col-5">
    <%= @post.title %><br>
    <%= @post.body %><br>
    <%= render 'static_rate', post: @post %>
    <strong>YouTube:</strong>
    <iframe width="336" height="189" src="https://www.youtube.com/embed/<%= @post.song_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-4 align-self-end" id="comment_form">
    <div id="bookmark-<%= @post.id %>"><%= render 'public/favorites/favorite', post: @post %></div>
    <%= render 'public/post_comments/comment_form', { post: @post , post_comment: @post_comment } %>
  </div>
</div>
<div id="comments" style="display: flex; flex-direction: column-reverse">
  <%= render 'public/post_comments/comment_flame', post: @post %>
</div>