<div class="row">
  <h2 class="col-11 admin-title">曲一覧</h2>
  <div class="col-1 admin-title">
    <a href='/admin/songs/new'>
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>
</div>
<div class="row">
  <table class="table col-12 text-center">
    <thead>
      <tr>
        <th>曲名</th>
        <th>作曲者</th>
        <th>ジャンル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.name %></td>
          <td><%= song.composer.name %></td>
          <td><%= song.genre.name %></td>
          <td>
            <%= link_to '編集', edit_admin_song_path(song), class: 'btn btn-create' %>
            <%= link_to '削除', admin_song_path(song),  method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-destroy' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>