<div class="row admin-menu">
  <h2 class="col-12 admin-title">管理画面</h2>
</div>
<div class="row mb-3">
  <div class="col-1"></div>
  <div class="col-4 btn btn-admin">
    <%= link_to admin_users_path, class: 'box', style: 'text-decoration: none;' do %>
      <i class="fas fa-users" style="color: #2391ff; padding-top: 18px"></i>
      <p style="color: #2391ff; font-size: 20px;">ユーザ一覧</p>
    <% end %>
  </div>
  <div class="col-2"></div>
  <div class="col-4 btn btn-admin">
    <%= link_to admin_posts_path, class: 'box', style: 'text-decoration: none;' do %>
      <i class="fas fa-newspaper" style="color: #2391ff; padding-top: 18px"></i>
      <p style="color: #2391ff; font-size: 20px;">投稿一覧</p>
    <% end %>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col-3 btn btn-admin">
    <%= link_to admin_songs_path, class: 'box', style: 'text-decoration: none;' do %>
      <i class="fas fa-music" style="color: #2391ff; padding-top: 18px"></i>
      <p style="color: #2391ff; font-size: 20px;">曲名一覧</p>
    <% end %>
  </div>
  <div class="col-1"></div>
  <div class="col-3 btn btn-admin">
    <%= link_to admin_genres_path, class: 'box', style: 'text-decoration: none;' do %>
      <i class="fas fa-guitar" style="color: #2391ff; padding-top: 18px"></i>
      <p style="color: #2391ff; font-size: 20px;">ジャンル一覧</p>
    <% end %>
  </div>
  <div class="col-1"></div>
  <div class="col-3 btn btn-admin">
    <%= link_to admin_composers_path, class: 'box', style: 'text-decoration: none;' do %>
      <i class="fas fa-feather-alt" style="color: #2391ff; padding-top: 18px"></i>
      <p style="color: #2391ff; font-size: 20px;">作曲者一覧</p>
    <% end %>
  </div>
</div>