<div class="container mt-4 pb-5">
  <h2>投稿一覧</h2>
  <div class="row">
    <div class="rol">
      <% @posts.each do |post| %>
        <div>
          <%= link_to admin_user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image, size: '50x50' %>
            <%= post.user.name %>
          <% end %>
        </div>
        <div>
          <%= link_to admin_post_path(post) do %>
            <%= image_tag post.image, size: '200x200' %>
            <span>
              <%= post.title %>
              <%= post.body %>
            </span>
          <% end %>
        </div>
        <div>
          <%= link_to '編集', edit_admin_post_path(post), class: 'btn btn-primary' %>
          <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>