<div class="container mt-4 pb-5">
  <div class="row">
    <div class="col">
      <div>
        <%= link_to admin_user_path(@post.user) do %>
          <%= image_tag @post.user.get_profile_image, size: '80x80' %>
          <%= @post.user.name %>
        <% end %>
      </div>
      <div>
        <%= image_tag @post.image, size: '200x200' %>
        <span>
          <%= @post.title %>
          <%= @post.body %>
        </span>
        <%= render 'public/posts/static_rate', post: @post %>
      </div>
      <div>
        <%= link_to '編集', edit_admin_post_path(@post), class: 'btn btn-primary' %>
        <%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-primary' %>
      </div>
      <div>
        <%= render 'comment_flame', post: @post %>
      </div>
    </div>
  </div>
</div>