<% post.post_comments.each do |post_comment| %>
  <div class="row post-comment justify-content-center" style="border: solid 1px gray; margin: 0 200px; margin-top: 2.5px; margin-bottom: 2.5px;">
    <div class="col-2" style="padding-left: 0;">
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image, size: '80x80', class: 'profile-image' %>
      <% end %>
    </div>
    <div class="col-8 post-comment-content">
      <%= link_to user_path(post_comment.user) do %>
        <%= post_comment.user.name %>
      <% end %><br>
      <%= post_comment.comment %>
    </div>
    <div class="col-2 mt-2">
      <% if post_comment.user == current_user %>
        <%= link_to '削除', post_post_comment_path(post, post_comment),  method: :delete, remote: true, data: {"turbolinks" => false}, class: 'btn btn-destroy' %>
      <% elsif admin_signed_in? %>
        <%= link_to '削除', post_post_comment_path(post, post_comment),  method: :delete, remote: true, data: {"turbolinks" => false}, class: 'btn btn-destroy' %>
      <% end %>
    </div>
  </div>
<% end %>