<div class="profile">
  <div><%= image_tag @user.get_profile_image, size: '100x100' %></div>
  <div>
    <%= @user.name %>
    <%= @user.introduction %>
  </div>
  <div><%= link_to 'プロフィール編集', edit_user_path(@user), class: "btn btn-secondary" %></div>
  <div>
    <%= render 'flame', posts: @posts %>
  </div>
</div>