<% if user_signed_in? %>
  <div class="col-1 text-center side">
    <div class="side-menu">
      <ul class="side-bar mx-auto">
        <li>
          <a href='/posts' class="menu"><%= image_tag 'design02.png', :size => '50x50' %></a>
        </li>
        <li>
          <%= link_to posts_path, class: 'menu' do %>
            <i class="fas fa-home" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user), size: '50x50', class: 'menu' do %>
            <i class="fas fa-user-alt" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to favorite_user_path(current_user), class: 'menu' do %>
            <i class="far fa-bookmark" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <a href='/posts/new' class="menu"><%= image_tag 'post02.png', :size => '50x50' %></a>
        </li>
        <li>
          <%= link_to user_path(current_user), class: 'menu' do %>
            <i class="fas fa-comments" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-light sign_out' do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% elsif admin_signed_in? %>
  <div class="col-1 text-center side">
    <div class="side-menu">
      <ul class="side-bar mx-auto">
        <li>
          <%= link_to admin_home_path, class: 'menu' do %>
            <i class="fas fa-home" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path, class: 'menu' do %>
            <i class="fas fa-users" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to admin_posts_path, class: 'menu' do %>
            <i class="fas fa-newspaper" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to admin_songs_path, class: 'menu' do %>
            <i class="fas fa-music" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to admin_genres_path, class: 'menu' do %>
            <i class="fas fa-guitar" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to admin_composers_path, class: 'menu' do %>
            <i class="fas fa-feather-alt" style="font-size: 40px;"></i>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-light sign_out' do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>